version: "3.8"

services:
  backend:
    build: ./backend
    container_name: nexaven-backend
    env_file:
      - .env
    volumes:
      - ./backend/data:/app/data
    restart: always

  frontend:
    build: ./frontend
    container_name: nexaven-frontend
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nexaven-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/certbot/www:/var/www/certbot
      - ./nginx/certbot/conf:/etc/letsencrypt
    depends_on:
      - frontend
      - backend
    restart: always

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/certbot/www:/var/www/certbot
      - ./nginx/certbot/conf:/etc/letsencrypt
